{% extends "base_layout.html" %}

{% block page_label %}<i class="bi bi-building"></i> Manage Colleges{% endblock %}
{% block manage_college %}

   <!-- button trigger to show add college form modal-->
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <button class="btn btn-success me-6" type="button" data-bs-toggle="modal" data-bs-target="#add-college-modal">
          <i class="bi bi-plus-circle"></i>
          Add College
        </button>
      </div>
      <div class="col-4">
        <form class="d-flex" action="{{url_for('college.searchCollege')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input class="form-control mr-sm-2" name="college_search_key" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0 px-4" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
    
   
 

  <div class="container">
    <table class = "table mt-1">
      <thead class="text-light" style="background-color: #962a2ab7;">
        <tr>
          <th scope="col-2">Code</th>
          <th scope="col-5">College name</th>
          <th scope="col-2" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody style="background-color: #962a2a5d;">
        <!-- add python code here, displays the data in the database -->
        {% for college in colleges %}
        <tr>
          <td>{{college[0]}}</td>
          <td>{{college[1]}}</td>
          <td class="text-center">
            <a href="#" class="btn btn-warning btn-sm px-3" data-bs-toggle="modal" data-bs-target="#edit-college-modal{{college[0]}}">
              <i class="bi bi-pencil-square"></i>
              Edit
            </a>
            <a class="mx-1"></a>
            
            <form hidden id="del{{college[0]}}" action="{{url_for('college.deleteCollege')}}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input hidden  value="{{college[0]}}" name="college_code_del">
            </form>
            <button type="submit" form = "del{{college[0]}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete?')">
              <i class="bi bi-dash-circle"></i>
              Delete
            </button>
            
          </td>
        </tr>
        <!-- Edit modal -->
          <div class="modal fade" id="edit-college-modal{{college[0]}}" tabindex="-1" aria-labelledby="edit-college-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="add-college-label">Edit College</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('college.editCollege')}}" method="POST">
                    {{ form.hidden_tag() }}
                    <input type="hidden" class="form-control" id="old_college_code" name="old_college_code" value="{{college[0]}}">
                    <!--College code entry-->
                    <div class="form-group mb-1">
                      {{ form.college_code.label(class="form-label") }}
                      {{ form.college_code(class="form-control", value=college[0]) }}
                      <small id="lastname_help" class="form-text text-muted">
                        College code should not be less than 3 characters .(e.g CCS)
                      </small>
                    </div>
                    <!-- <div class="form-group">
                      <label for="college_code">College Code</label>
                      <input type="text" class="form-control" id="college_code" name="college_code" value="{{college[0]}}">
                      <small id="lastname_help" class="form-text text-muted">College code should not be less than 3 characters .(e.g CCS)</small>
                    </div> -->
          
                    <!--College name entry-->
                    <div class="form-group">
                      {{ form.college_name.label }}
                      {{ form.college_name(class="form-control", value=college[1]) }}
                    </div>
                    <!-- <div class="form-group">
                      <label for="Course">College name</label>
                      <input type="text" class="form-control" id="college_name" name="college_name" value="{{college[1]}}">
                      
                    </div> -->
                </div>
          
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.edit_college_button(class="btn btn-primary") }}
                    <!-- <button type="submit" class="btn btn-primary">Update College</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </tbody>
    </table>
  <div class="btn-toolbar d-flex justify-content-center bd-highlight" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="page_buttons">
      <form hidden id="1" class="form-group" action="{{url_for('college.displayCollegePage')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" value="0" name="offset" id="offset" hidden> 
      </form>
      <button form ="1" type="submit" class="btn btn-secondary">1</button>
      
      <form hidden id="2" class="form-group" action="{{url_for('college.displayCollegePage')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" value="5" name="offset" id="offset" hidden> 
      </form>
      <button form="2" type="submit" class="btn btn-secondary">2</button>

      <form hidden id="3" class="form-group" action="{{url_for('college.displayCollegePage')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" value="10" name="offset" id="offset" hidden> 
      </form>
      <button form="3" type="submit" class="btn btn-secondary">3</button>

      <form hidden id="4" class="form-group" action="{{url_for('college.displayCollegePage')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" value="15" name="offset" id="offset" hidden> 
      </form>
      <button form="4" type="submit" class="btn btn-secondary">4</button>

      <form hidden id="5" class="form-group" action="{{url_for('college.displayCollegePage')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" value="25" name="offset" id="offset" hidden> 
      </form>
      <button form ="5" type="submit" class="btn btn-secondary">5</button>
    </div>
  </div>
</div>  
<!-- Add Modal -->
<div class="modal fade" id="add-college-modal" tabindex="-1" aria-labelledby="add-college-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-college-label">Add College</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('college.addCollege')}}" method="POST">
          {{ form.hidden_tag() }}
           <!--College code entry-->
           <div class="form-group mb-1">
            {{ form.college_code.label(class="form-label") }}
            {{ form.college_code(class="form-control",placeholder="Enter college code") }}
            <small id="lastname_help" class="form-text text-muted">
              College code should not be less than 3 characters .(e.g CCS)
            </small>
          </div>
          <!-- <div class="form-group">
            <label for="college_code">College Code</label>
            <input type="text" class="form-control" id="college_code" name="college_code" placeholder="Enter college code">
            <small id="lastname_help" class="form-text text-muted">College code should not be less than 3 characters .(e.g CCS)</small>
          </div> -->

          <!--College name entry-->
          {{ form.college_name.label(class="form-label") }}
          {{ form.college_name(class="form-control", placeholder="Enter college name") }}
          <!-- <div class="form-group">
            <label for="Course">College name</label>
            <input type="text" class="form-control" id="college_name" name="college_name" placeholder="Enter college name">
          </div> -->
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {{ form.add_college_button(class="btn btn-primary") }}
          <!-- <button type="submit" class="btn btn-primary">Add College</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}