{% extends "base_layout.html"%}

{% block manage_course%}
<h1 class="text-center mt-4 mb-3">Manage Courses</h1>

<div class="container">
    <!-- button trigger to show add course form modal--> 
    <div class="d-flex justify-content-end">
        <button class="btn btn-success me-5" type="button" data-bs-toggle="modal" data-bs-target="#add-course-modal">
            Add Course
        </button>
    </div>
    
    <table class="table table-dark mt-1 ms-5">
        <thead class="text-light" style="background-color: #252422 ;">
            <tr>
            <th scope="col">Code</th>
            <th scope="col">Course name</th>
            <th scope="col">College</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSCS</td>
                <td>Bachelor of Science in Computer Scinece</td>
                <td>CCS</td>
                <td>
                    <a href="#" class="btn btn-warning btn-sm px-3" data-bs-toggle="modal" data-bs-target="#edit-course-modal">Edit</a>
                    <a class="mx-1"></a>
                    <a href="#" class="btn btn-danger btn-sm" onclick="return confinrm('Are you sure to delete?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="add-course-modal" tabindex="-1" aria-labelledby="add-course-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-college-label">Add Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <!-- This is a form for adding a student to the database -->
        <form>
            <!--Course entry -->
            <div>
                <select class="form-control col ms-1 me-2" id="college" name="college">
                    <option>College</option>
                </select>
            </div>
            <small id="college_dropwdown_help" class="form-text text-muted">Select the right college.</small>
        
            <!--Course code entry-->
            <div class="form-group">
                <label for="course_code">Course Code</label>
                <input type="text" class="form-control" id="course_code" name="course_code" placeholder="Enter course code">
                <small id="lastname_help" class="form-text text-muted">Course code must be 4 or more characters .(e.g BSCS)</small>
            </div>

            <!--Course name entry-->
            <div class="form-group">
                <label for="course_name">Course name</label>
                <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Enter course name">
                <small id="course_name_help" class="form-text text-muted">Course must belong to the right college.</small>
            </div>
        </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Course</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock%}