{% extends "base_layout.html" %}
{% block title %} Homepage {% endblock title %}

{% block tagline %} 

    <div class="d-flex justify-content-center align-items-center">
        <div class="mt-5 pt-5 w-75">
            <h1 class="text-center">Manage student, course and college records conveniently and efficiently.</h1>
        </div>
    </div>

    <div class="text-center mt-1">
        <a role="button" type="button" class="btn btn-primary active btn-lg mt-3 text-center" href="/student">
            Manage records
            <i class="bi bi-arrow-right-circle"></i>
        </a>
    </div>
   
{% endblock %}