{% extends "base_layout.html" %}

{% block manage_student %} 
    <h1 class="text-center mt-2 mb-3">Manage Students</h1>

    <div class="container container-fluid">
        <div class="row">

            <!-- This is a form for adding a student to the database -->
            <form class='col-3' p-1>
                
                <!--Id number entry -->
                <div class="form-group ">   
                    <label for="exampleInputPassword1">ID number</label>
                    <input type="text" class="form-control" id="id_number" name="id_number" placeholder="Enter ID number">
                    <small id="firstname_help" class="form-text text-muted">e.g 2019-0001.</small>
                </div>

                <!--firstname entry-->
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter firstname">
                    <small id="firstname_help" class="form-text text-muted">Firstname must be 2 or more characters.</small>
                </div>
               
                 <!--lastname entry-->
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter lastname">
                    <small id="lastname_help" class="form-text text-muted">Lastname must be 2 or more characters.</small>
                </div>

               <!-- college and courses dropdowns, positioned inline -->
               <div class="container">
                    <div class="row">
                        <select class="form-control form-control-sm col ms-1 me-2" id="college" name="college">
                            <option>College</option>
                        </select>
                        <select class="form-control form-control-sm col col me-1" id="course" name="course">
                            <option>Course</option>
                        </select>
                    </div>
               </div>

               <!-- add student button -->
                <div class="text-start">
                    <button type="submit" class="btn btn-primary mt-3 ">Add Student</button>
                </div>

            </form>


        <!-- table of student records -->
        <table class="col-9 table mt-4 ms-5">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Gender</th>
                <th scope="col">College</th>
                <th scope="col">Course</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               
              </tr>
              <tr>
               
              </tr>
              <tr>
               
              </tr>
            </tbody>
          </table>
        </div>

    </div>
    
{% endblock %}