{% extends "base_layout.html" %}

{% block page_label %} <i class="bi bi-person"></i> Manage Students{% endblock %}
{% block manage_student %} 
      
<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <button class="btn btn-success me-5" id="add_student_btn" type="button" data-bs-toggle="modal" data-bs-target="#add-student-modal">
        <i class="bi bi-person-plus"></i>
        Add Student
      </button>
    </div>
    <div class="col-4">
      <form class="d-flex" action="{{url_for('student.searchStudent')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="form-control mr-sm-2" name="student_search_key" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0 px-4" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>
<!-- button trigger to show add student form modal-->
  

<div class="container">
  <!-- table of student records -->
    <table class="table mt-1">
      <thead class="text-light" style="background-color: #962a2ab7;">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Course</th>
          <th scope="col">Year</th>
          <th scope="col">Gender</th>
          <th scope="col"  class="text-center">Action</th>
        </tr>
      </thead>

      <tbody style="background-color: #962a2a5d;">
          <!-- add python code here to display student data-->
          {% for student in students%}
          <tr>
            <td>{{student[0]}}</td>
            <td>{{student[1]}}</td>
            <td>{{student[2]}}</td>
            <td>{{student[3]}}</td>
            <td>{{student[4]}}</td>
            <td>{{student[5]}}</td>
            <td class="text-center">
              <a href="#" class="btn btn-warning btn-sm px-3" data-bs-toggle="modal" data-bs-target="#edit-student-modal{{student[0]}}">
                <i class="bi bi-pencil-square"></i>
                Edit
              </a>
              <a class="mx-1"></a>
              <form hidden id="del{{student[0]}}" action="{{url_for('student.deleteStudent')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input hidden  value={{student[0]}} name="student_id_del">
              </form>
              <button type="submit"  form="del{{student[0]}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete?')">
                <i class="bi bi-person-dash"></i>
                Delete
              </button>
            </td>
          </tr>
          <!-- edit student modal -->              
            <div class="modal fade" id="edit-student-modal{{student[0]}}" tabindex="-1" aria-labelledby="edit-student-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="edit-modal-label">Edit Student</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <div class="modal-body">
                      <form action="{{url_for('student.editStudent')}}" method="POST">
                        {{ form.hidden_tag() }}
                        <!--old Id number entry -->
                        <div class="form-group">  
                          <input type="text" 
                          class="form-control" 
                          id="old_id_number" 
                          name="old_id_number" 
                          value="{{student[0]}}"
                          required=True
                          hidden
                          />
                        </div>
                        <!--Id number entry -->
                        <div class="form-group mb-3"> 
                          {{ form.id_number.label(class="form-label")}}
                          {{ form.id_number(class="form-control", value=student[0] )}}    
                          <small id="firstname_help" class="form-text text-muted">e.g 2019-0001.</small>
                        </div>

                      <!--firstname entry-->
                      <div class="form-group mb-3">
                        {{ form.firstname.label(class="form-label") }}
                        {{ form.firstname(class="form-control", value=student[1])}}
                        <small id="firstname_help" class="form-text text-muted">Firstname must be 2 or more characters.</small>
                      </div>
                      
                        <!--lastname entry-->
                      <div class="form-group mb-3">
                        {{ form.lastname.label(class="form-label") }}
                        {{ form.lastname(class="form-control", value=student[2]) }}
                        <small id="lastname_help" class="form-text text-muted">Lastname must be 2 or more characters.</small>
                      </div>

                      <!-- gender entry -->
            <div class='form-group mb-3'>
              <div>
                <label for="gender form-label">Gender</label>
              </div>
          
              {% if student[5] == "Male" %}
                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="radio" name="gender" id="gender" value="Male">
                  <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gender" value="Female">
                  <label class="form-check-label">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gender" value="Other">
                  <input type="text" 
                  class="form-control" 
                  id="gender_other" 
                  name="gender_other" 
                  placeholder="Other"
                  /> 
                </div> 
              {% elif student[5] == "Female" %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gender" value="Male">
                  <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="radio" name="gender" id="gender" value="Female">
                  <label class="form-check-label">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gender" value="Other">
                  <input type="text" 
                  class="form-control" 
                  id="gender_other" 
                  name="gender_other" 
                  placeholder="Other"
                  /> 
              {% else %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="Male">
                <label class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="gender" value="Female">
                <label class="form-check-label">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="radio" name="gender" id="gender" value="Other">
                <input type="text" 
                class="form-control" 
                id="gender_other" 
                name="gender_other" 
                placeholder="Other"
                value = "{{student[5]}}"
                required
                /> 
              {% endif %}
            </div>

                    <!-- year_level entry -->
                    <div class='form-group mb-3'>
                      <label for="year_level form-label">Year Level</label>
                      <select type="number" required=True class="form-control col ms-1 me-2" id="year_level" name="year_level">
                        <option disabled><b>Year</b></option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                    </div>

                    <div class='form-group mb-3'>
                      <label for="course form-label">Course</label>
                      <select  required=True class="form-control col col me-1" id="course_code" name="course_code">
                          <option disabled>Course</option>
                          {% for course in course_options %}
                            {% if course[0] == student[3] %}
                              <option selected>{{student[3]}}</option>
                            {% else %}
                              <option>{{course[0]}}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.edit_student_button(class="btn btn-primary") }}
                    <!-- <button type="submit" class="btn btn-primary">Update Student</button> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </tbody>
    </table>
  <div class="btn-toolbar d-flex justify-content-center bd-highlight" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="page_buttons">
        <form hidden id="1" class="form-group" action="{{url_for('student.displayStudentPage')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" value="0" name="offset" id="offset" hidden> 
        </form>
        <button form ="1" type="submit" class="btn btn-secondary">1</button>
        
        <form hidden id="2" class="form-group" action="{{url_for('student.displayStudentPage')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" value="8" name="offset" id="offset" hidden> 
        </form>
        <button form="2" type="submit" class="btn btn-secondary">2</button>

        <form hidden id="3" class="form-group" action="{{url_for('student.displayStudentPage')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" value="16" name="offset" id="offset" hidden> 
        </form>
        <button form="3" type="submit" class="btn btn-secondary">3</button>

        <form hidden id="4" class="form-group" action="{{url_for('student.displayStudentPage')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" value="24" name="offset" id="offset" hidden> 
        </form>
        <button form="4" type="submit" class="btn btn-secondary">4</button>

        <form hidden id="5" class="form-group" action="{{url_for('student.displayStudentPage')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <input type="text" value="32" name="offset" id="offset" hidden> 
        </form>
        <button form ="5" type="submit" class="btn btn-secondary">5</button>
      </div>
  </div>
</div>  
  <!-- Add student Modal -->
  <div class="modal fade" id="add-student-modal" tabindex="-1" aria-labelledby="add-student-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-student-label">Add Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <form action="{{url_for('student.addStudent')}}" method="POST">
              {{ form.hidden_tag() }}
              <!--Id number entry -->
              <div class="form-group mb-3">
                {{ form.id_number.label(class="form-label") }}   
                {{ form.id_number(class="form-control", placeholder="Enter ID Number") }} 
                <small id="firstname_help" class="form-text text-muted">e.g 2019-0001.</small> 
              </div>

            <!--firstname entry-->
            <div class="form-group mb-3">
              {{ form.firstname.label(class="form-label") }}   
              {{ form.firstname(class="form-control", placeholder="Enter firstname") }}
                <small id="firstname_help" class="form-text text-muted">Firstname must be 2 or more characters.</small>
            </div>
            
              <!--lastname entry-->
            <div class="form-group mb-3">
              {{ form.lastname.label(class="form-label") }}   
              {{ form.lastname(class="form-control", placeholder="Enter lastname") }}
              <small id="lastname_help" class="form-text text-muted">Lastname must be 2 or more characters.</small>
            </div>

            <!-- gender entry -->
            <div class='form-group mb-3'>
              <div>
                <label for="gender form-label">Gender</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input gender" type="radio" name="gender" id="gender_male" value="Male">
                  <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline gender">
                  <input class="form-check-input" type="radio" name="gender" id="gender_female" value="Female">
                  <label class="form-check-label">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="gender_otr" value="Other">
                  <input type="text" 
                  class="form-control" 
                  id="gender_other_add" 
                  name="gender_other" 
                  placeholder="Other"
                  disabled
                  /> 
                </div>   
            </div>

            <!-- year_level entry -->
            <div class='form-group mb-3'>
              <label for="year_level form-label">Year Level</label>
              <select type="number" required=True class="form-control col ms-1 me-2" id="year_level" name="year_level">
                <option disabled selected><b>Year</b></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class='form-group mb-3'>
              <label for="course form-label">Course</label>
              <select  required=True class="form-control col ms-1 me-1" id="course_code" name="course_code">
                  <option disabled selected hidden>Course</option>
                  {% for course in course_options %}
                    <option value="{{course[0]}}">{{course[1]}}</option>
                  {% endfor %}
              </select>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{ form.add_student_button(class="btn btn-primary") }}
            <!-- <button type="submit" class="btn btn-primary">Add Student</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}

